@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

/* ____________________________________ */
/* BRAND COLORS */
/* ____________________________________ */
:root {
	--primary: #369886;
	--secondary: #83cfc6;
	--highlight: #bdf0ea;
	--light: #fcfcfc;
	--dark: #617481;
	--dark_semi_transparent: rgba(36, 44, 49, 0.85);
	--dark_transparent: rgba(97, 116, 129, 0);
	--accent: #f5ab57;
}

/* ____________________________________ */
/* ASSET DEFAULTS */
/* ____________________________________ */

* {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Montserrat", sans-serif;
}

html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

a {
	text-decoration: none;
}

h1 {
	color: var(--primary);
	font-size: 2em;
}

h2 {
	color: var(--light);
	font-size: 2.2em;
	text-shadow: 0px 3px 1px var(--primary);
}

h3 {
	color: var(--secondary);
	font-size: 1.7em;
}

h4 {
	color: var(--highlight);
	font-weight: 600;
}

h5 {
	color: var(--dark);
}

li {
	list-style: none;
	padding: 0;
}

main {
	background: var(--light);
	position: relative;
	min-height: 100vh;
}

/* ____________________________________ */
/* NAVBAR */
/* ____________________________________ */
#navHead {
	z-index: 99;
	position: fixed;
	width: 100%;
}
#navbar {
	background: var(--primary);
	border-bottom: 5px solid var(--primary);
	top: 0;
	display: flex;
	padding-right: 20px;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	height: 70px;
}

#logoFrame {
	background: var(--light);
	align-self: flex-start;
	padding: 10px 20px;
	position: relative;
	height: 55px;
	width: 50%;
}
#logoFrame:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background: var(--light);
	transform-origin: bottom left;
	-ms-transform: skew(-30deg, 0deg);
	-webkit-transform: skew(-30deg, 0deg);
	transform: skew(-30deg, 0deg);
}
#logo {
	z-index: 5;
	object-fit: contain;
	object-position: left center;
}

/* ____________________________________ */
/* HAMBURGER MENU */
/* ____________________________________ */
#menuBtn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.line {
	position: relative;
	width: 100%;
	height: 5px;
	background: white;
	border-radius: 20px;
	transition: all 0.5s ease-in-out;
}

.line::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 5px;
	background: white;
	border-radius: 20px;
	transition: all 0.5s ease-in-out;
}

.line::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	background: white;
	border-radius: 20px;
	transition: all 0.5s ease-in-out;
}

.line::before {
	transform: translateY(-10px);
}

.line::after {
	transform: translateY(10px) translateX(-12.5px);
}

#menuBtn.open .line {
	transform: rotate(45deg);
	transition: all 0.5s ease-in-out;
}
#menuBtn.open .line::before {
	transform: rotate(-90deg) translate(5px, -5px);
	width: 15px;
	border-radius: 20px;
}
#menuBtn.open .line::after {
	transform: rotate(-90deg) translate(-5px, -8px);
	width: 15px;
	border-radius: 20px;
}

/* ____________________________________ */
/* NAV MENU OPTIONS */
/* ____________________________________ */
#navMenuExpanded {
	display: none;
}
#navMenu {
	position: absolute;
	right: -150px;
	display: none;
	-webkit-animation: slide 0.5s reverse;
	animation: slide 0.5s reverse;
	transition: display 2s ease-in-out;
}
#navMenu.open {
	display: flex;
	background: var(--dark);
	padding: 20px 0;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 0 0 0 5px;
	-webkit-animation: slide 0.5s forwards;
	animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
	100% {
		right: 0;
	}
}

@keyframes slide {
	100% {
		right: 0;
	}
}

.navMenuOption {
	width: 100%;
	text-align: right;
	margin: 5px auto;
}

.navMenuOption:hover {
	color: var(--primary);
	background: var(--highlight);
}

.navMenuOption a {
	margin-right: 20px;
	padding-left: 20px;
	font-size: 22px;
	color: white;
	width: 100%;
}
.navMenuOption:hover a {
	color: var(--primary);
}

/* ____________________________________ */
/* MODAL */
/* ____________________________________ */
#modalMapView {
	position: fixed;
	top: 69px;
	left: 0;
	z-index: 98;
	width: 100%;
	height: calc(100vh - 69px);
}

#modalVideoView {
	background: var(--dark_semi_transparent);
	position: fixed;
	top: 69px;
	width: calc(100% - 40px);
	height: calc(100vh - 69px);
	z-index: 98;
	padding: 20px;
}

#modalWindow {
	position: relative;
	display: flex;
	flex-direction: column;
	top: 10px;
	background: white;
	border-radius: 5px;
	max-height: calc(100% - 50px);
}
#modalHeader {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
#modalHeaderInfo {
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-content: flex-start;
}
#modalTitle {
	color: var(--primary);
	text-align: left;
}
#modalTime {
	color: var(--dark);
	text-align: left;
}
#modalClose {
	padding: 10px;
}
#modalClose:hover {
	cursor: pointer;
}
#modalVideoFrame {
	width: 100%;
	min-height: 350px;
	position: relative;
}
#modalVideo {
	position: absolute;
	height: calc(100% - 10px);
	width: calc(100% - 20px);
	left: 10px;
	border: none;
}
#modalInfo {
	padding: 10px;
	text-align: center;
	line-height: 1.5em;
	overflow-y: scroll;
	max-height: 200px;
	position: relative;
}
#modalDesc {
	margin-bottom: 20px;
}
/* ____________________________________ */
/* HEADER MAP IMAGE */
/* ____________________________________ */
#headerImage {
	padding-top: 69px;
	padding-bottom: 30px;
	display: block;
	width: 100%;
	height: 550px;
	position: relative;
}
#mapCTA {
	z-index: 1;
	position: absolute;
	width: 200px;
	padding: 20px;
	border-radius: 5px;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: calc(50% + 69px - 250px);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	left: 50%;
	transform: translate(-50%, calc(-50% - 69px + 250px / 2));
}
#mapIcon {
	width: 50px;
	margin-bottom: 20px;
}
#mapImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(3px) brightness(75%);
}
#mapImg:hover {
	cursor: pointer;
}

#mapFrame {
	display: none;
	width: 100%;
}

/* ____________________________________ */
/* PRIMARY CONTENT SECTION */
/* ____________________________________ */
#infoSection {
	width: 100%;
}

#mapCallToAction {
	margin: 20px auto;
	display: none;
}

.infoText {
	color: var(--dark);
	font-size: 20px;
	line-height: 1.5em;
	padding: 0 20px;
}

/* ____________________________________ */
/* VECTOR SHAPE + HEADER */
/* ____________________________________ */
#featureSection {
	margin-top: -270px;
}
#featureHeader {
	padding: 0;
	position: relative;
	height: 250px;
	width: 100%;
}
#featureHeader .sectionHeader {
	width: calc(100% - 40px);
	position: absolute;
	padding: 0 20px;
	bottom: 0;
	z-index: 9;
}

#svgWave1,
#svgWave2 {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

/* ____________________________________ */
/* ACTIVE SECTION ASSETS + INFO */
/* ____________________________________ */
#featureInfo {
	margin-top: 20px;
}
#featureSection {
	padding-bottom: 50px;
}
#videos {
	scroll-margin-top: 350px;
	padding-bottom: 50px;
}
#resources {
	scroll-margin-top: 350px;
	padding-bottom: 50px;
}

/* ____________________________________ */
/* VIDEO SECTION ASSETS */
/* ____________________________________ */
.videoSet {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
}

#videoNav {
	background: var(--primary);
	width: 100%;
	min-height: 45px;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ____________________________________ */
/* VIDEO CATEGORY SCROLL */
/* ____________________________________ */
#videoNav h3 {
	color: white;
}
#prevArrow {
	margin-left: 20px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 25px solid white;
	border-bottom: 15px solid transparent;
}
#prevArrow:hover {
	cursor: pointer;
	margin-left: 20px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 25px solid var(--highlight);
	border-bottom: 15px solid transparent;
}
#prevArrow:active {
	border-right: 25px solid white;
}
#nextArrow {
	margin-right: 20px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 25px solid white;
	border-bottom: 15px solid transparent;
}
#nextArrow:hover {
	cursor: pointer;
	margin-right: 20px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 25px solid var(--highlight);
	border-bottom: 15px solid transparent;
}
#nextArrow:active {
	border-left: 25px solid white;
}

#videoList {
	margin-top: 10px;
}
.videoSet li {
	display: flex;
	justify-content: center;
}

.videoItem:hover {
	cursor: pointer;
}
.videoThumbnail {
	box-sizing: border-box;
	background: none;
	width: 100%;
	max-width: 420px;
	height: 250px;
	position: relative;
	border-radius: 5px;
	margin-bottom: 10px;
}

.videoThumnail,
img {
	border-radius: 5px;
	object-fit: cover;
	position: relative;
	width: 100%;
	height: 100%;
}
.videoTitle,
.videoTitleFull {
	z-index: 2;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	border-radius: 0 0 5px 5px;
}
.videoTitle {
	background: var(--primary);
}
.videoTitleFull {
	background: var(--dark);
	width: calc(100% - 20px);
	text-align: left;
}

/* ____________________________________ */
/* RESOURCES SECTION ASSETS */
/* ____________________________________ */
#divider {
	display: block;
}

.resourcesSubheader {
	background: var(--secondary);
	color: var(--light);
	padding: 10px 20px;
}

.resourcesSublist {
	padding: 0 20px;
	text-align: left;
}

.resourcesSublist li {
	list-style-type: circle;
	margin: 30px 0px 30px 20px;
	text-align: left;
	padding: 0 10px;
}

.resourcesSublist a {
	font-size: 22px;
	color: var(--dark);
}
.resourcesSublist a:hover {
	color: var(--primary);
	text-decoration: underline;
}

/* ____________________________________ */
/* FOOTER SECTION */
/* ____________________________________ */

#footer {
	background: var(--primary);
	color: var(--light);
	padding: 10px 0;
	position: absolute;
	width: 100%;
	bottom: 0;
}
#footer p {
	width: 100%;
}
#footer a {
	color: var(--highlight);
	font-weight: 600;
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {
	#logoFrame {
		width: 25%;
	}
	#menuBtn {
		display: none;
	}
	#navMenu {
		display: none;
	}
	#navMenuExpanded {
		display: flex;
	}
	#navMenuExpanded a {
		padding: 5px 20px;
		font-size: 22px;
		color: white;
		width: 100%;
	}
	#navMenuExpanded a:hover {
		background: var(--highlight);
		color: var(--primary);
		border-radius: 50px;
	}

	#modalContent {
		display: flex;
		justify-content: end;
	}
	#modalInfo {
		max-width: 200px;
		max-height: 100%;
		text-align: right;
	}

	#featureHeader .sectionHeader {
		padding: 0;
		width: 100%;
	}

	.videoSet {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}

	.videoThumbnail {
		margin: 0;
	}

	.resourcesSublist {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.resourcesSublist li {
		width: calc(50% - 40px);
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.7em;
	}
	h3 {
		font-size: 1.2em;
	}
	.infoText {
		font-size: 18px;
	}
	#content {
		display: flex;
		padding-top: 69px;
		max-height: calc(100vh - 70px);
	}

	#subContent {
		flex: 3;
		position: relative;
	}
	#modalVideoView {
		position: absolute;
		padding: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	#modalWindow {
		position: absolute;
		margin: 20px;
		padding-bottom: 10px;
		max-height: calc(100% - 50px);
		width: calc(100% - 40px);
	}
	#modalVideo {
		border: none;
	}
	#modalContent {
		flex-direction: column;
	}
	#modalInfo {
		text-align: center;
		max-width: 100%;
	}

	#headerImage {
		display: none;
	}

	#mapImg {
		display: none;
	}
	#mapFrame {
		display: inline;
		height: 100%;
		width: 100%;
		border: none;
	}

	#featureSection {
		margin-top: 0;
		padding-bottom: 0;
	}

	#mapCallToAction {
		display: block;
	}

	#featureSubText {
		color: var(--dark);
	}
	#infoSection {
		flex: 1;
		overflow-y: scroll;
		padding: none;
		min-width: 20px;
	}
	.videoSet {
		padding: 0 20px;
		display: flex;
		flex-direction: column;
	}
	.videoThumbnail {
		height: 200px;
	}

	.resourcesSublist li {
		margin: 20px;
		width: 100%;
	}
	.resourcesSublist a {
		font-size: 18px;
	}
	#footer {
		position: relative;
	}
}
/* ____________________________________ */
/* ABSOLUTE UNIVERSAL STYLES */
/* ____________________________________ */
.hidden {
	display: none;
}
